* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #05010a;
  width: 100vw;
  height: 100vh;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.glitch {
  font-family: "Arial";
  font-weight: 900;
  font-size: 5em;
  padding: 30px;
  position: relative;
  color: white;
}

.glitch::after, .glitch::before {
  content: "ERROR";
  position: absolute;
  top: 0;
  overflow: hidden;
  padding: 30px;
}

.glitch::before {
  left: 5px;
  text-shadow: -5px 0 rgba(15, 207, 207, 0.856);
  -webkit-animation: glitch-before 5s linear infinite alternate;
          animation: glitch-before 5s linear infinite alternate;
}

.glitch::after {
  left: -5px;
  text-shadow: 5px 0 #f71372;
  -webkit-animation: glitch-after 5s linear infinite alternate;
          animation: glitch-after 5s linear infinite alternate;
}

@-webkit-keyframes glitch-before {
  0% {
    clip: rect(68px, 328px, 43px, 28px);
  }
  3.33333% {
    clip: rect(70px, 237px, 79px, 48px);
  }
  6.66667% {
    clip: rect(85px, 617px, 26px, 17px);
  }
  10% {
    clip: rect(72px, 395px, 70px, 11px);
  }
  13.33333% {
    clip: rect(91px, 218px, 88px, 16px);
  }
  16.66667% {
    clip: rect(76px, 391px, 61px, 10px);
  }
  20% {
    clip: rect(41px, 270px, 73px, 44px);
  }
  23.33333% {
    clip: rect(31px, 256px, 75px, 50px);
  }
  26.66667% {
    clip: rect(129px, 575px, 80px, 11px);
  }
  30% {
    clip: rect(42px, 224px, 37px, 7px);
  }
  33.33333% {
    clip: rect(75px, 259px, 129px, 14px);
  }
  36.66667% {
    clip: rect(84px, 155px, 38px, 47px);
  }
  40% {
    clip: rect(95px, 451px, 120px, 28px);
  }
  43.33333% {
    clip: rect(73px, 102px, 69px, 6px);
  }
  46.66667% {
    clip: rect(76px, 166px, 71px, 17px);
  }
  50% {
    clip: rect(121px, 154px, 32px, 8px);
  }
  53.33333% {
    clip: rect(79px, 169px, 91px, 35px);
  }
  56.66667% {
    clip: rect(125px, 611px, 58px, 12px);
  }
  60% {
    clip: rect(20px, 144px, 78px, 38px);
  }
  63.33333% {
    clip: rect(77px, 234px, 66px, 44px);
  }
  66.66667% {
    clip: rect(68px, 683px, 35px, 41px);
  }
  70% {
    clip: rect(51px, 466px, 48px, 17px);
  }
  73.33333% {
    clip: rect(110px, 452px, 85px, 19px);
  }
  76.66667% {
    clip: rect(70px, 491px, 86px, 38px);
  }
  80% {
    clip: rect(74px, 580px, 66px, 32px);
  }
  83.33333% {
    clip: rect(121px, 590px, 138px, 18px);
  }
  86.66667% {
    clip: rect(74px, 452px, 123px, 34px);
  }
  90% {
    clip: rect(91px, 614px, 68px, 10px);
  }
  93.33333% {
    clip: rect(37px, 437px, 87px, 34px);
  }
  96.66667% {
    clip: rect(80px, 234px, 90px, 36px);
  }
  100% {
    clip: rect(47px, 638px, 82px, 45px);
  }
}

@keyframes glitch-before {
  0% {
    clip: rect(68px, 328px, 43px, 28px);
  }
  3.33333% {
    clip: rect(70px, 237px, 79px, 48px);
  }
  6.66667% {
    clip: rect(85px, 617px, 26px, 17px);
  }
  10% {
    clip: rect(72px, 395px, 70px, 11px);
  }
  13.33333% {
    clip: rect(91px, 218px, 88px, 16px);
  }
  16.66667% {
    clip: rect(76px, 391px, 61px, 10px);
  }
  20% {
    clip: rect(41px, 270px, 73px, 44px);
  }
  23.33333% {
    clip: rect(31px, 256px, 75px, 50px);
  }
  26.66667% {
    clip: rect(129px, 575px, 80px, 11px);
  }
  30% {
    clip: rect(42px, 224px, 37px, 7px);
  }
  33.33333% {
    clip: rect(75px, 259px, 129px, 14px);
  }
  36.66667% {
    clip: rect(84px, 155px, 38px, 47px);
  }
  40% {
    clip: rect(95px, 451px, 120px, 28px);
  }
  43.33333% {
    clip: rect(73px, 102px, 69px, 6px);
  }
  46.66667% {
    clip: rect(76px, 166px, 71px, 17px);
  }
  50% {
    clip: rect(121px, 154px, 32px, 8px);
  }
  53.33333% {
    clip: rect(79px, 169px, 91px, 35px);
  }
  56.66667% {
    clip: rect(125px, 611px, 58px, 12px);
  }
  60% {
    clip: rect(20px, 144px, 78px, 38px);
  }
  63.33333% {
    clip: rect(77px, 234px, 66px, 44px);
  }
  66.66667% {
    clip: rect(68px, 683px, 35px, 41px);
  }
  70% {
    clip: rect(51px, 466px, 48px, 17px);
  }
  73.33333% {
    clip: rect(110px, 452px, 85px, 19px);
  }
  76.66667% {
    clip: rect(70px, 491px, 86px, 38px);
  }
  80% {
    clip: rect(74px, 580px, 66px, 32px);
  }
  83.33333% {
    clip: rect(121px, 590px, 138px, 18px);
  }
  86.66667% {
    clip: rect(74px, 452px, 123px, 34px);
  }
  90% {
    clip: rect(91px, 614px, 68px, 10px);
  }
  93.33333% {
    clip: rect(37px, 437px, 87px, 34px);
  }
  96.66667% {
    clip: rect(80px, 234px, 90px, 36px);
  }
  100% {
    clip: rect(47px, 638px, 82px, 45px);
  }
}

@-webkit-keyframes glitch-after {
  0% {
    clip: rect(110px, 348px, 88px, 49px);
  }
  3.33333% {
    clip: rect(68px, 269px, 49px, 20px);
  }
  6.66667% {
    clip: rect(41px, 314px, 86px, 4px);
  }
  10% {
    clip: rect(111px, 397px, 65px, 30px);
  }
  13.33333% {
    clip: rect(66px, 481px, 123px, 1px);
  }
  16.66667% {
    clip: rect(103px, 490px, 120px, 15px);
  }
  20% {
    clip: rect(101px, 334px, 64px, 9px);
  }
  23.33333% {
    clip: rect(76px, 552px, 149px, 41px);
  }
  26.66667% {
    clip: rect(103px, 738px, 94px, 27px);
  }
  30% {
    clip: rect(72px, 256px, 111px, 17px);
  }
  33.33333% {
    clip: rect(60px, 358px, 127px, 20px);
  }
  36.66667% {
    clip: rect(80px, 263px, 105px, 7px);
  }
  40% {
    clip: rect(66px, 451px, 72px, 40px);
  }
  43.33333% {
    clip: rect(127px, 489px, 35px, 1px);
  }
  46.66667% {
    clip: rect(80px, 622px, 115px, 10px);
  }
  50% {
    clip: rect(70px, 353px, 22px, 40px);
  }
  53.33333% {
    clip: rect(120px, 51px, 55px, 5px);
  }
  56.66667% {
    clip: rect(69px, 579px, 83px, 13px);
  }
  60% {
    clip: rect(110px, 84px, 71px, 21px);
  }
  63.33333% {
    clip: rect(99px, 221px, 46px, 19px);
  }
  66.66667% {
    clip: rect(73px, 230px, 142px, 19px);
  }
  70% {
    clip: rect(73px, 370px, 18px, 18px);
  }
  73.33333% {
    clip: rect(87px, 280px, 78px, 41px);
  }
  76.66667% {
    clip: rect(52px, 661px, 70px, 37px);
  }
  80% {
    clip: rect(67px, 381px, 107px, 46px);
  }
  83.33333% {
    clip: rect(58px, 255px, 146px, 11px);
  }
  86.66667% {
    clip: rect(77px, 608px, 67px, 2px);
  }
  90% {
    clip: rect(73px, 514px, 56px, 44px);
  }
  93.33333% {
    clip: rect(120px, 331px, 100px, 29px);
  }
  96.66667% {
    clip: rect(75px, 691px, 85px, 25px);
  }
  100% {
    clip: rect(147px, 571px, 66px, 17px);
  }
}

@keyframes glitch-after {
  0% {
    clip: rect(110px, 348px, 88px, 49px);
  }
  3.33333% {
    clip: rect(68px, 269px, 49px, 20px);
  }
  6.66667% {
    clip: rect(41px, 314px, 86px, 4px);
  }
  10% {
    clip: rect(111px, 397px, 65px, 30px);
  }
  13.33333% {
    clip: rect(66px, 481px, 123px, 1px);
  }
  16.66667% {
    clip: rect(103px, 490px, 120px, 15px);
  }
  20% {
    clip: rect(101px, 334px, 64px, 9px);
  }
  23.33333% {
    clip: rect(76px, 552px, 149px, 41px);
  }
  26.66667% {
    clip: rect(103px, 738px, 94px, 27px);
  }
  30% {
    clip: rect(72px, 256px, 111px, 17px);
  }
  33.33333% {
    clip: rect(60px, 358px, 127px, 20px);
  }
  36.66667% {
    clip: rect(80px, 263px, 105px, 7px);
  }
  40% {
    clip: rect(66px, 451px, 72px, 40px);
  }
  43.33333% {
    clip: rect(127px, 489px, 35px, 1px);
  }
  46.66667% {
    clip: rect(80px, 622px, 115px, 10px);
  }
  50% {
    clip: rect(70px, 353px, 22px, 40px);
  }
  53.33333% {
    clip: rect(120px, 51px, 55px, 5px);
  }
  56.66667% {
    clip: rect(69px, 579px, 83px, 13px);
  }
  60% {
    clip: rect(110px, 84px, 71px, 21px);
  }
  63.33333% {
    clip: rect(99px, 221px, 46px, 19px);
  }
  66.66667% {
    clip: rect(73px, 230px, 142px, 19px);
  }
  70% {
    clip: rect(73px, 370px, 18px, 18px);
  }
  73.33333% {
    clip: rect(87px, 280px, 78px, 41px);
  }
  76.66667% {
    clip: rect(52px, 661px, 70px, 37px);
  }
  80% {
    clip: rect(67px, 381px, 107px, 46px);
  }
  83.33333% {
    clip: rect(58px, 255px, 146px, 11px);
  }
  86.66667% {
    clip: rect(77px, 608px, 67px, 2px);
  }
  90% {
    clip: rect(73px, 514px, 56px, 44px);
  }
  93.33333% {
    clip: rect(120px, 331px, 100px, 29px);
  }
  96.66667% {
    clip: rect(75px, 691px, 85px, 25px);
  }
  100% {
    clip: rect(147px, 571px, 66px, 17px);
  }
}
/*# sourceMappingURL=style.css.map */