*{
    margin: 0;
    padding: 0;
    font-family: "Brandon Grotesque";
}

html{
    width: 100%;
    height: 100%;
    --bg: #eeeeee;
    --innerback: #EBF5FA;
    --font: #434343;
    --slider: #E1EBF1;
    --lightShadow: #ffffff;
    --frameDark: #b0b3b6;
    --frameInnerD: rgba(148, 173, 191, 0.44);
    --frameInnerL: rgba(255,255,255, 0.75);
    --outline: #d4dde1;
}

body{
    background: var(--bg);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
}


.login-form{
    text-align: center;
    background: var(--bg);
    width: 20%;
    height: 70%;
    box-shadow:-8px -8px 18px rgba($color: #fff, $alpha: 0.8) ,8px 8px 18px rgba($color: #b0b3b6, $alpha: 0.75 );
    border-radius: 15px;
    h2{
        margin-bottom: 15%;
        font-weight: 800;
        font-size: 2rem;
    }
    
}
input{
    border: none;
    outline: none;
}
input[type = 'text'], input[type = 'password'], input[type='email']{
    background: var(--bg);
    border-radius:10px;
    font-size: 1.1rem;
    padding: 2px 10px;
    box-shadow:-2px -2px 8px rgba($color: #fff, $alpha: 1.0),
                2px 2px 8px var(--frameInnerD);
}
.inner{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

label{
    margin-top: 30px;
}

input[type = 'submit']{
    cursor: pointer;
    margin-top: 30px;
    border-radius: 50px;
    background: var(--bg);
    color:#2B86C5;
    font-size: 1.3rem;
    font-weight: 400;
    box-shadow: -4px -4px 12px rgba($color: #fff, $alpha: 1), 4px 4px 8px rgba($color: #616161, $alpha: 0.4);
}

h1{
    position:absolute;
    font-weight:950;
    font-size: 15rem;
    opacity: 1;
    z-index:-1;
    color:#dde3e7;
  }

.top{
    top:0;
    left:0;
    transform:translate(-5%,-40%)
}
.bot{
    bottom: 0;
    right: 0;
    transform: translate(5%, 40%);
    overflow: hidden;
}
  