{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'accounts/login.css' %}">
</head>
<body>
    <h1 class = 'des-bg top'>REGISTER</h1>
    <h1 class = 'des-bg bot'>REGISTER</h1>
    <div class = "wrap">
    <div class = 'login-form'>
        <div class="inner">
        <h2>Register</h2>
    <form method="POST" action="">
        {% csrf_token %}
        {%for field in form%}
            {{field}}
        {%endfor%}

        <input type="submit" name="Create user" value = 'Register'>
    </form>
    </div>
    </div>
    </div>
    <script src = "{% static 'accounts/auth.js' %}" ></script>
</body>
</html>