* {
  margin: 0;
  padding: 0;
  font-family: "Brandon Grotesque";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(10, 2, 32);
}

a {
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  font-size: 1.2em;
  text-decoration: none;
  letter-spacing: 2px;
  overflow: hidden;
}

span {
  position: absolute;
  background: white;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 0.8s linear alternate;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    opacity: 0.2;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0.2;
  }
}
