{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{% static 'progress/styles.css' %}">
</head>
<body>
	<header><a href="" class="text">Home</a></header>
	<section>
		<div class="block">
			<h1 class="text">Hello, buddy</h1>
			<h2 class="text">Got some mems?</h2>
		</div>
	</section>
	<div class="container">
		<a href="">
			<span class="airy">Button</span>
			<span class="airy">Button</span>
		</a>
	</div>
</body>
</html>