body{
  margin: 0;
  padding: 0;
  width:100vh;
  font-family: "Franxurter Totally Fat";
  font-weight: 500;}

#back{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(186deg,#cbb4d4 10%,#20002c 120%);
  /*background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);*/
}

.container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  /*background: #001f3f;*/
}
a:visited{
  text-decoration: none;
  color: #FCFFFA;
}
.navbar{
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px
}
.wrapper{
  padding-left: 40px;
}

.button{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*
.button a{
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 55px;
  margin: 10px;
  overflow: hidden;
  text-transform: uppercase;
}
.button a span{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 100000;
  border:1px solid black;
  transition: 0s ease-in;
}

.button a:before{
  content: '';
  position: absolute;
  bottom: -250px;
  width: 250px;
  height: 250px;
  background-color: #FAACA8;
background-image: -webkit-linear-gradient(199deg, #FAACA8 0%, #DDD6F3 100%);
background-image: -o-linear-gradient(199deg, #FAACA8 0%, #DDD6F3 100%);
background-image: linear-gradient(289deg, #FAACA8 0%, #DDD6F3 100%);
  border-radius: 50%;
  transition: 0.4s ease-in;
}

.button a:hover:before{
  bottom: -150px;
}
.button a:nth-child(1):before{
	bottom: 60px;
}

.button a:nth-child(1):hover:before{
	bottom: -40px;
}
*/


.button{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button a{
	position: relative;
	width: 150px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	margin: 10px;
	text-transform: uppercase;
	color: white;
	font-size:30px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 2px;
  overflow: hidden;

}

.button a span{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 100000;
	transition: 0s ease-in;
}

.button a:before{
	content: '';
	position: absolute;
	bottom: -250px;
	left: 50%;
	transform: translateX(-50%);
	width: 250px;
	height: 250px;
  background-color: #FAACA8;
background-image: -webkit-linear-gradient(199deg, #FAACA8 0%, #DDD6F3 100%);
background-image: -o-linear-gradient(199deg, #FAACA8 0%, #DDD6F3 100%);
background-image: linear-gradient(289deg, #FAACA8 0%, #DDD6F3 100%);
	border-radius: 50%;
	transition: 0.4s ease-in;
}

.button a:hover:before{
	bottom:-150px;
}

.button a:nth-child(2):before{
	bottom: 60px;
}

.button a:nth-child(2):hover:before{
	bottom: -40px;
}
