.tile{
  .tile-inner{
    //background-image: url('textures/oak-log.jpg');
    background-size: contain;
  }
}
.blueprint{
  display: inline-grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.2);
  transform: translateY(50%);
  .canvas{
    display: inline-grid;
    position: relative;
    width: 500px;
    height: 500px;
    background: #fff;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    .tile{
      border: 1px solid #f5f5f5;
      .tile-inner{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 5px;

      }
      &:hover{
        border-color: #343434;
      }
    }
  }
}
