.tile .tile-inner {
  background-size: contain;
}

.blueprint {
  display: inline-grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  transform: translateY(50%);
}

.blueprint .canvas {
  display: inline-grid;
  position: relative;
  width: 500px;
  height: 500px;
  background: #fff;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.blueprint .canvas .tile {
  border: 1px solid #f5f5f5;
}

.blueprint .canvas .tile .tile-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
}

.blueprint .canvas .tile:hover {
  border-color: #343434;
}
