html {
  --bg: #eeeeee;
  --innerback: rgb(231, 231, 231);
  --font: #434343;
  --slider: #e1ebf1;
  --lightShadow: #ffffff;
  --darkShadow: rgba(122, 122, 122, 0.5);
  --frameDark: #b0b3b6;
  --frameInnerD: rgba(148, 173, 191, 0.44);
  --frameInnerL: rgba(255, 255, 255, 0.75);
  --outline: #d4dde1;
}

html[data-theme="dark"] {
  --bg: #2f2f2f;
  --innerback: #383838;
  --font: #cfcccc;
  --slider: #2f2f2f;
  --lightShadow: rgba(73, 73, 73, 0.6);
  --darkShadow: rgba(122, 122, 122, 0.5);
  --frameDark: #1b1b1b;
  --frameInnerD: rgba(48, 48, 48, 0.44);
  --frameInnerL: rgba(64, 64, 64, 0.86);
  --outline: #2a2b2c;
}
body {
  min-height: 100vh;
  background: var(--bg);
  overflow-x: hidden;
}

#app,
.void {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg);
}

a {
  color: var(--font);
  background: none;
  &:visited,
  &:link {
    text-decoration: none;
    color: var(--font);
  }
}

.header {
  display: flex;
  background: var(--bg);
  border-radius: 15px;
  margin: 20px 60px;
  height: 120px;
  box-shadow: -4px -4px 8px var(--lightShadow), 4px 4px 8px var(--darkShadow);
}

.wrapper {
  display: grid;
  grid-template-columns: 19% 60% 19%;
  grid-gap: 5vw;
}

.Nav {
  display: inline-flex;
  float: left;
  width: 100%;
  height: 800px;
  border-radius: 15px;
  background: var(--bg);
  box-shadow: -4px -4px 8px var(--lightShadow), 4px 4px 8px var(--darkShadow);
  margin: 0 10px;
}

.ContentFrame {
  height: 1200px;
  width: 100%;
  padding: 40px 50px;
  display: inline-flex;
  background: var(--bg);
  box-shadow: -4px -4px 8px var(--lightShadow), 4px 4px 8px var(--darkShadow);
  border-radius: 15px;
}

.ContentBG {
  width: 100%;
  height: 100%;
  background: #373044;
  border-radius: 15px;
}

.caption {
  padding: 80px 50px;
  background: none;
  .text {
    background: none;
    font-family: "Nunito";
    color: #ededed;
  }
  h2 {
    font-weight: 800;
    font-size: 4.5em;
  }
  h3 {
    font-size: 4em;
    font-weight: 400;
  }
}

svg {
  background: none;
  width: 100%;
  overflow: hidden;
  path {
    background: none;
    width: 100%;
  }
}

// #RedTop {
//   animation: Comet 1s infinite linear;
// }
// #RedMid {
//   animation: Comet 1.4s infinite linear;
// }
// #RedBot {
//   animation: Comet 1.2s infinite linear;
// }

// #OrangeTop {
//   animation: Comet 1s infinite linear;
// }
// #OrangeMid {
//   animation: Comet 1.4s infinite linear;
// }
// #OrangeBot {
//   animation: Comet 1.2s infinite linear;
// }

// #YellowTop {
//   animation: Comet2 1s infinite linear;
// }
// #YellowMid {
//   animation: Comet2 1.4s infinite linear;
// }
// #YellowBot {
//   animation: Comet2 1.2s infinite linear;
// }

@keyframes Comet {
  0% {
    transform: translateX(100px);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(-60px);
    opacity: 0;
  }
}

@keyframes Comet2 {
  0% {
    transform: translateX(10px);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(-60px);
    opacity: 0;
  }
}
