$font: "Brandon Grotesque";
$sliderLight: #e1ebf1;
$sliderBackLight: #e7ecef;
$fontLight: #434343;

html {
  --bg: #eeeeee;
  --innerback: rgb(231, 231, 231);
  --font: #434343;
  --slider: #e1ebf1;
  --lightShadow: #ffffff;
  --frameDark: #b0b3b6;
  --frameInnerD: rgba(148, 173, 191, 0.44);
  --frameInnerL: rgba(255, 255, 255, 0.75);
  --outline: #d4dde1;
}

html[data-theme="dark"] {
  --bg: #2f2f2f;
  --innerback: #383838;
  --font: #cfcccc;
  --slider: #2f2f2f;
  --lightShadow: rgba(73, 73, 73, 0.6);
  --frameDark: #1b1b1b;
  --frameInnerD: rgba(48, 48, 48, 0.44);
  --frameInnerL: rgba(64, 64, 64, 0.86);
  --outline: #2a2b2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg);
}

a {
  color: var(--font);
  background: none;
  &:visited,
  &:link {
    text-decoration: none;
    color: var(--font);
  }
}
// auth buttons

header {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  .auth {
    transform: translateY(50%);
    ul {
      display: inline-flex;
      flex-direction: row;
      background: none;
    }
  }
}

li {
  list-style: none;
  background: none;
  margin-left: 15px;
  span {
    background: none;
    font-size: 1.2em;
    a {
      color: var(--font);
      background: none;
      &:visited,
      &:link {
        text-decoration: none;
        color: var(--font);
      }
    }
  }
}

.header-wrap {
  padding-top: 40px;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// end of auth buttons

//Checkbox

.checkbox {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 28px;
  margin: 0;
  right: 0;
  background: none;
  border-radius: 50px;
}

input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + .trigger {
  background: #2e2e2e;
}

input:checked + .trigger::before {
  width: 70px;
  transform: translateX(0px);
  background-color: rgba($color: #2af598, $alpha: 1);
  box-shadow: 0 0 20px #2af598;
}

.trigger {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $sliderBackLight;
  box-shadow: inset -3px -3px 10px var(--lightShadow),
    inset 3px 3px 10px rgba($color: #000000, $alpha: 0.25);
  border-radius: 50px;
  transition: 0.5s ease-in-out;

  &::before {
    position: absolute;
    content: "";
    margin-top: 2px;
    height: 25px;
    width: 25px;
    background-color: rgba($color: #2af598, $alpha: 0);
    box-shadow: 0 0 0px #2af598;
    border-radius: 50px;
    transform: translateX(-5px);
    transition: 0.5s ease-in-out;
  }
}

.Dark-mode {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  span {
    margin-left: 1rem;
    font-family: $font;
  }
}

//

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  width: 60vw;
  height: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  .Frame {
    margin-top: 10%;
    width: 266px;
    height: 376px;
    .frame {
      width: inherit;
      height: inherit;
      transform: scale(1);
      background: var(--bg);
      box-shadow: -8px -8px 20px var(--lightShadow),
        8px 8px 20px var(--frameDark);
      border-radius: 10px;
      .frame-inner {
        position: relative;
        top: 2.5%;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        height: 277px;
        background: var(--innerback);
        box-shadow: inset 4px 4px 20px var(--frameInnerD),
          inset -4px -4px 16px var(--frameInnerL);
        border-radius: 10px;
      }
    }
  }
}

.switch {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: var(--innerback);
  box-shadow: 2px 2px 8px var(--frameInnerD), -2px -2px 4px var(--frameInnerL);
  border-radius: 50px;
  cursor: pointer;
  svg,
  path {
    fill: var(--font);
  }
}

.prev {
  bottom: 0;
  transform: translate(120%, -50%);
}

.next {
  right: 0;
  bottom: 0;
  transform: translate(-120%, -50%);
}

svg {
  background: none;
}

.TitleWrap {
  display: flex;
  position: relative;
  justify-content: center;
  height: 20%;
  margin-top: 4%;
}

span {
  background: none;
  font-family: $font;
  color: var(--font);
}

.lg {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  font-size: 3em;
}

.md {
  font-size: 2em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.preview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--innerback);
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background: var(--innerback);
  box-shadow: 6px 6px 12px var(--frameInnerD), -6px -6px 12px var(--frameInnerL);
  &:focus {
    outline: none;
  }

  &:active {
    background: var(--innerback);
    box-shadow: inset 1px 1px 1px var(--outline),
      inset -1px -1px 1px var(--outline);
    .md {
      transform: scale(0.95);
    }
  }
}

.Cards {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  background: var(--innerback);
  box-shadow: inset 1px 1px 1px var(--outline),
    inset -1px -1px 1px var(--outline);
  transition: 0.5s ease-in-out;
}

.dropdown {
  position: absolute;
  width: 60%;
  height: 20%;
  background: var(--innerback);
  box-shadow: 6px 6px 12px var(--frameInnerD), -6px -6px 12px var(--lightShadow);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  .preview-wrapper {
    cursor: pointer;
    background: none;
    display: flex;
    flex-direction: row;
    z-index: 10;
    .triangle {
      margin: auto;
      margin-left: 0.5rem;
    }
  }
}

.letters {
  width: 100%;
  height: 50%;
  background: none;
}

#has-drop {
  display: none;
  background: var(--innerback);
  box-shadow: 6px 6px 12px var(--frameInnerD), -6px -6px 12px var(--lightShadow);
  cursor: pointer;
  opacity: 0;
  width: 100%;
  z-index: 10;
  ul {
    margin: 0;
    opacity: 1;
    list-style: none;
    background: none;

    z-index: 9;
    li {
      color: #434343;
      text-align: center;
      font-size: 1.5rem;
      font-family: $font;
      background: var(--innerback);
    }
  }
}

.no-triangle {
  display: none;
}

.triangle {
  background: none;
  margin-left: 10px;
  margin-top: 5px;
  i {
    transform: scale(1.5);
    color: var(--font);
    background: none;
  }
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
