html {
  --bg: #eeeeee;
  --innerback: rgb(231, 231, 231);
  --font: #434343;
  --slider: #E1EBF1;
  --lightShadow: #ffffff;
  --frameDark: #b0b3b6;
  --frameInnerD: rgba(148, 173, 191, 0.44);
  --frameInnerL: rgba(255,255,255, 0.75);
  --outline: #d4dde1;
}

html[data-theme='dark'] {
  --bg: #2F2F2F;
  --innerback: #383838;
  --font: #cfcccc;
  --slider: #2f2f2f;
  --lightShadow:rgba(73, 73, 73, 0.6);
  --frameDark: #1b1b1b;
  --frameInnerD: rgba(48,48,48, 0.44);
  --frameInnerL: rgba(64,64,64, 0.86);
  --outline:#2a2b2c;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--bg);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .auth {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

header .auth ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

li {
  list-style: none;
  margin-left: 15px;
}

li a {
  color: var(--font);
}

li a:visited, li a:link {
  text-decoration: none;
  color: var(--font);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 60vw;
  height: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.wrapper .Frame {
  margin-top: 10%;
  width: 266px;
  height: 376px;
}

.wrapper .Frame .frame {
  width: inherit;
  height: inherit;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: var(--bg);
  -webkit-box-shadow: -8px -8px 20px var(--lightShadow), 8px 8px 20px var(--frameDark);
          box-shadow: -8px -8px 20px var(--lightShadow), 8px 8px 20px var(--frameDark);
  border-radius: 10px;
}

.wrapper .Frame .frame .frame-inner {
  position: relative;
  top: 2.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 250px;
  height: 277px;
  background: var(--innerback);
  -webkit-box-shadow: inset 4px 4px 20px var(--frameInnerD), inset -4px -4px 16px var(--frameInnerL);
          box-shadow: inset 4px 4px 20px var(--frameInnerD), inset -4px -4px 16px var(--frameInnerL);
  border-radius: 10px;
}

.switch {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--innerback);
  -webkit-box-shadow: 2px 2px 8px var(--frameInnerD), -2px -2px 4px var(--frameInnerL);
          box-shadow: 2px 2px 8px var(--frameInnerD), -2px -2px 4px var(--frameInnerL);
  border-radius: 50px;
  cursor: pointer;
}

.switch svg, .switch path {
  fill: var(--font);
}

.prev {
  bottom: 0;
  -webkit-transform: translate(120%, -50%);
          transform: translate(120%, -50%);
}

.next {
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-120%, -50%);
          transform: translate(-120%, -50%);
}

svg {
  background: none;
}

.TitleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20%;
  margin-top: 4%;
}

span {
  background: none;
  font-family: "Brandon Grotesque";
  color: var(--font);
}

.lg {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  font-size: 3em;
}

.md {
  font-size: 2em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.preview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--innerback);
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background: var(--innerback);
  -webkit-box-shadow: 6px 6px 12px var(--frameInnerD), -6px -6px 12px var(--frameInnerL);
          box-shadow: 6px 6px 12px var(--frameInnerD), -6px -6px 12px var(--frameInnerL);
}

.button:focus {
  outline: none;
}

.button:active {
  background: var(--innerback);
  -webkit-box-shadow: inset 1px 1px 1px var(--outline), inset -1px -1px 1px var(--outline);
          box-shadow: inset 1px 1px 1px var(--outline), inset -1px -1px 1px var(--outline);
}

.button:active .md {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.Cards {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  background: var(--innerback);
  -webkit-box-shadow: inset 1px 1px 1px var(--outline), inset -1px -1px 1px var(--outline);
          box-shadow: inset 1px 1px 1px var(--outline), inset -1px -1px 1px var(--outline);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.dropdown {
  position: absolute;
  width: 60%;
  height: 20%;
  background: var(--innerback);
  -webkit-box-shadow: 6px 6px 12px var(--frameInnerD), -6px -6px 12px var(--lightShadow);
          box-shadow: 6px 6px 12px var(--frameInnerD), -6px -6px 12px var(--lightShadow);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 10;
}

.dropdown .preview-wrapper {
  cursor: pointer;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dropdown .preview-wrapper .triangle {
  margin: auto;
  margin-left: 0.5rem;
}

.letters {
  width: 100%;
  height: 50%;
  background: none;
}

#has-drop {
  background: var(--innerback);
  -webkit-box-shadow: 6px 6px 12px var(--frameInnerD), -6px -6px 12px var(--lightShadow);
          box-shadow: 6px 6px 12px var(--frameInnerD), -6px -6px 12px var(--lightShadow);
  cursor: pointer;
  opacity: 0;
  width: 100%;
  z-index: 10;
}

#has-drop ul {
  margin: 0;
  opacity: 1;
  list-style: none;
  background: none;
  z-index: 200;
  z-index: 9;
}

#has-drop ul li {
  z-index: 9;
  color: var(--font);
  text-align: center;
  font-size: 1.5rem;
  font-family: "Brandon Grotesque";
  background: inherit;
}

.no-triangle {
  display: none;
}

.triangle {
  background: none;
  margin-left: 10px;
  margin-top: 5px;
}

.triangle i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: var(--font);
  background: none;
}

.checkbox {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 28px;
  margin: 0;
  right: 0;
  background: none;
  border-radius: 50px;
}

input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + .trigger {
  background: #2e2e2e;
}

input:checked + .trigger::before {
  width: 70px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  background-color: #2af598;
  -webkit-box-shadow: 0 0 30px #2AF598;
          box-shadow: 0 0 30px #2AF598;
}

.trigger {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #E7ECEF;
  -webkit-box-shadow: inset -3px -3px 10px var(--lightShadow), inset 3px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: inset -3px -3px 10px var(--lightShadow), inset 3px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.trigger::before {
  position: absolute;
  content: '';
  margin-top: 2px;
  height: 25px;
  width: 25px;
  background-color: rgba(42, 245, 152, 0);
  -webkit-box-shadow: 0 0 0px #2AF598;
          box-shadow: 0 0 0px #2AF598;
  border-radius: 50px;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.Dark-mode {
  position: absolute;
  right: 0;
  -webkit-transform: translate(-60%, 50%);
          transform: translate(-60%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Dark-mode span {
  margin-left: 1rem;
  font-family: "Brandon Grotesque";
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}
/*# sourceMappingURL=style1.css.map */