
$bgLight: #e7ecef;
$innerback: #EBF5FA;
$font: "Brandon Grotesque";
$sliderLight: #E1EBF1;
$sliderBackLight : #E7ECEF;
$fontLight: #434343;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $bgLight;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  width: 60vw;
  height: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  .Frame {
    margin-top: 10%;
    width: 266px;
    height: 376px;
    .frame {
      width: inherit;
      height: inherit;
      transform: scale(1);
      background: $bgLight;
      box-shadow: 12px 12px 50px #b0b3b6, -12px -12px 70px #ffffff;
      border-radius: 10px;
      .frame-inner {
        position: relative;
        top: 2.5%;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        height: 277px;
        background: $innerback;
        box-shadow: inset 4px 4px 20px rgba(148, 173, 191, 0.44),
          inset -4px -4px 16px rgba(255, 255, 255, 0.9);
        border-radius: 10px;
      }
    }
  }
}

.switch {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: $innerback;
  box-shadow: 2px 2px 8px rgba(105, 121, 145, 0.32),
    -2px -2px 4px rgba(255, 255, 255, 0.75),
    -2px -2px 4px rgba(255, 255, 255, 0.75);
  border-radius: 50px;
  cursor: pointer;
}

.prev {
  bottom: 0;
  transform: translate(120%, -50%);
}

.next {
  right: 0;
  bottom: 0;
  transform: translate(-120%, -50%);
}

svg {
  background: none;
}

.TitleWrap {
  display: flex;
  position: relative;
  justify-content: center;
  height: 20%;
  margin-top: 4%;
}

span {
  background: none;
  font-family: $font;
  color: $fontLight;
}

.lg {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  font-size: 3em;
}

.md {
  font-size: 2em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.preview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: $innerback;
}

.button {
  cursor: pointer;
  outline: none;
  border:none;
  position: absolute;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background: $innerback;
  box-shadow: 6px 6px 12px #c5ced2, -6px -6px 12px #ffffff;
  &:focus{
    outline:none;
  }
  
  &:active {
    background: $innerback;
    box-shadow: inset 1px 1px 1px #d4dde1, inset -1px -1px 1px #d4dde1;
    .md {
      transform: scale(0.95);
    }
  }
  
}

.Cards {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  background: $innerback;
  box-shadow: inset 1px 1px 1px #d4dde1, inset -1px -1px 1px #d4dde1;
  transition: 0.5s ease-in-out;
}

.dropdown {
  position: absolute;
  width: 60%;
  height: 20%;
  background: $innerback;
  box-shadow: 6px 6px 12px #c5ced2, -6px -6px 12px #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 10;
  .preview-wrapper {
    cursor: pointer;
    background: none;
    display: flex;
    flex-direction: row;
    .triangle {
      margin: auto;
      margin-left: 0.5rem;
    }
  }
}

.letters{
  width: 100%;
  height: 50%;
  background:none;
}

#has-drop {
  background: $innerback;
  box-shadow: 6px 6px 12px #c5ced2, -6px -6px 12px #ffffff;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  z-index: 10;
  ul {
    margin:0;
    opacity: 1;
    list-style: none;
    background: none;
    z-index: 200;
    z-index: 9;
    li {
      z-index: 9;
      color: #434343;
      text-align: center;
      font-size: 1.5rem;
      font-family: $font;
      background: inherit;
    }
  }
}

.no-triangle {
  display: none;
}

.triangle {
  background: none;
  margin-left: 10px;
  margin-top: 5px;
  i {
    transform: scale(1.5);
    color: $innerback;
    background: none;
    filter: drop-shadow(2px 2px 8px #000000) drop-shadow(-2px -2px 6px #ffffff);
  }
}


//Checkbox

.checkbox{
position: relative;
display: inline-block;
width: 5vw;
height: 5vh;
margin:0;
right: 0;
background: none;
border-radius: 50px;
}

input{
  opacity: 0;
  width: 0;
  height: 0;
 }

input:checked +.trigger{ 
    background: #d10abd; 
}

input:checked +.trigger::before {
  transform: translateX(120%);
  background: #343434;
box-shadow:  12px 12px 24px #2c2c2c, 
             -12px -12px 24px #3c3c3c;
}





.trigger{
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $sliderBackLight ;
  box-shadow:inset -3px -3px 10px #ffffff,inset 3px 3px 10px rgba($color: #000000, $alpha: 0.25) ;
  border-radius: 50px;
  transition: 0.5s ease-in-out;
  &:before{
    position: absolute;
    content:'';
    height:5vh;
    width: 5vh;
    background: $sliderLight;
    border-radius: 50px;
    box-shadow: -3px -3px 8px #ffffff, 3px 3px 12px rgba($color: #314159, $alpha: 0.43);
    transition: 0.5s ease-in-out;

  }
}


.Dark-mode{
  position: absolute;
  right: 0;
  transform: translate(-60%, 50%);
  display:flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  span{
    margin-left: 1rem;
    font-family: $font
  }
}

@media(prefers-color-scheme: dark){
  *{
    background: $fontLight;
  }
}