{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'frontend/css/codeedit.css'%}" />
  </head>
  <body>
    <header></header>
    <div class="wrap">
      <div class="result">
        <iframe id="preview" src=""> </iframe>
      </div>

      <div class="code">
        <div class="label">
          <label for="">HTML</label>
        </div>
        <div class="pannel">
          <textarea id="html" autocomplete="on"></textarea>
        </div>

        <div class="label">
          <label for="">CSS</label>
        </div>
        <div class="pannel">
          <textarea id="css"></textarea>
        </div>
        <div class="label">
          <label for="">JS</label>
        </div>
        <div class="pannel">
          <textarea id="js"></textarea>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'frontend/js/codeedit.js' %}"></script>
  </body>
</html>
